<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pokédex</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir</h1>

        <!--<div ng-controller="ExampleController">-->
        <!--<form name="userForm">-->
            <!--<label>Id:-->
                <!--<input type="text" name="pokemonId"-->
                       <!--ng-model="pokemon.id"-->
                       <!--ng-model-options="{ getterSetter: true }" />-->
            <!--</label>-->
        <!--</form>-->
        <!--<pre>Id = {{pokemon.id}} <span ng-bind="pokemon.id()"></span></pre>-->
        <!--</div>-->

        <!--Search-->
        <div ng-controller="RecherchePokemon">
            <label>Search: <input ng-model="search.name"></label>
            </br>
            <label>Sélection<select ng-model="pokemonmodel" value="0">
                <option ng-repeat="pokemon in majPokemon.pokemons | filter:search:strict" value="{{pokemon.id}}">{{pokemon.name}}</option>
            </select></label>
            <!--<p>{{pokemonmodel}}</p>-->


        </div>
		<!-- Pokémon information -->
		<div>

        </div>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
